 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;1,700&family=Press+Start+2P&display=swap');

// Font Styles
$heading_font: 'Press Start 2P', cursive;
$main_font: 'IBM Plex Mono', monospace;
// Colors
$black: #171D1C;
$purple: #8783D1;
$pink: #E5446D;
$yellow: #E9D985;
$white: #EFE9F4;