@import 'variables';

// INTRO

.preamble, aside .wrapper {
    border: 2px dotted $white;
    padding: 0.8rem;
}
.intro h1 {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 5px dotted $white;
}

// ASIDE

// MAIN SECTIONS
.main div, .wrapper div ul {
    padding-bottom: 1rem;
}
.main div h3, .wrapper div h3 {
    border-bottom: 5px dotted $white;
    border-left: 5px dotted $white;
    padding: 0 0 1rem 1rem;
  }
  @media only screen and (min-width: 800px) {
    .main div p {
        padding: 0.5rem 0 0 3rem;
        line-height: 1.5rem;
      }
  }

//   FOOTER
footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    border: 5px dotted $yellow;
    padding: 0.8rem;
    margin: 0.8rem;
}
footer a {
    font-family: $heading_font;
    color: $teal;
    text-shadow: 2px 4px $pink;
    font-size: 1.5em;
    line-height: 2.5rem;
    padding-top: 1rem 0.5rem;
}

@media only screen and (min-width: 800px) {
    footer {
        flex-direction: row;
    }
}

  
  