@import 'variables';

.intro {
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    border: 0.5rem solid $white;
    border-radius: 5rem;
    box-shadow: calc(0.125 * -1) 0 0 0 $white;
}

.main {
    padding: 1rem 3rem;
    text-align: justify;
}