@import 'variables';

body {
    background: radial-gradient(circle, $darkpink, $darkpurple);
    padding: 1rem;
}
.intro {
    text-align: center;
    margin: 2rem 5rem;
    padding: 1rem;
}

.main {
    padding: 1rem 3rem;
    text-align: justify;
}
  
.page-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
}
.intro {
    grid-column: 1/3;
}
.main {
    grid-column: 1/2;
}
.sidebar {
    grid-column: 2/3;
}
.sidebar .wrapper {
    background-color: $black;
    padding: 2rem;
    border-radius: 30px;
}